body {
	background-image: url("https://www.walldevil.com/wallpapers/a86/yosemite-national-park-california-usa-mountain-fog-tree-forest-winter-snow.jpg");
	background-color: lightblue;
	background-repeat: no-repeat;
	background-position: top, center;
}

h1, h3 {
	text-align: center;
}

div {
	text-align: center;
	text-indent: 2px;

}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: lightblue;
}
