body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/bf/7f/a1/bf7fa16540d29b0b382d2d4070bfc15a.jpg");
	background-color: lightblue;
	background-repeat: no-repeat;
	background-position: top, center;
}

h1 {
	text-align: center;
	
}

h3 {
	text-align: center;
}

footer {
   position:absolute;
   bottom:0;
}
